{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}
<div class="super-container">
    <div class="container contact">
      <span class="mail"></span>
      <span class="hidden">Thank you so much! 😊</span>
      <div class='top-heading'>
        <h1>Wanna Talk ? </h1>
      </div>

      <div class="contact-form">
        <div class='block'>
          <div class="field contact-name">
            <label>Your Name</label>
            <input
              type="text"
              name="name" required
            />
          </div>
          <div class="field contact-email">
            <label>Your E-mail</label>
            <input
              type="email"
              name="email" required
            />
          </div>
        </div>

        <div class="field contact-message">
          <label>Your Message</label>
          <textarea name="message" required></textarea>
        </div>
        <div class='button-container'>
          <button class='send' type="submit" value="Send">
            send
          </button>
          <button type="reset" value="clear">
            clear
          </button>
        </div>
      </div>
    </div>
  </div>


  <a href="https://www.linkedin.com/in/danish-nawaz-86154028a/" class="link">Danish Nawaz</a>

<!-- Particle background -->

{% endblock body %}

{% block extra_css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
    @property --gradient-angle {
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
    }
    
    *, *:after, *:before {
      box-sizing: border-box;
    }
    :root{
      --primary: turquoise;
      --primary-dark: #191825;
      --primary-blue: #865DFF;
      --primary-light-blue: #c4b1ff;
      --secondary-dark: #27253f;
      --secondary-dark2: #191825;
      --transparent-pink: #E384FF;
    }
    
    body {
      margin: 0;
      background:#17141d;
      color: white;
      font-family: 'Rubik', sans-serif;
    }
    
    @keyframes rotate {
      0%{
      --gradient-angle: 0deg;
    }
    100%{
      --gradient-angle: 360deg;
    }
    }
    
    @keyframes show {
      0%{opacity: 0;} 10%{opacity: 1} 80%{opacity: 1} 100%{opacity: 0;}
    }
    
    @keyframes successAnime {
       0%{
      transform: perspective(5000px) rotateX(0deg) rotateZ(0deg) ;
    }
    20%{
      transform: perspective(5000px) rotateX(80deg) rotateZ(90deg) ;
    }
    80%{
      transform: perspective(5000px) rotateX(80deg) rotateZ(90deg) ;
    }
    100%{
      transform: perspective(5000px) rotateX(0deg) rotateZ(0deg) ;
    }
    }
    
    @keyframes mailOut {
      0%{
      transform:  rotateX(0deg) rotateZ(0deg) translateZ(-2px) translateY(0);
    }
    20%{
      transform:  rotateX(0deg) rotateZ(0deg) translateZ(-2px) translateY(0);
    
    }
    40%{
      transform:  rotateX(0deg) rotateZ(0deg) translateZ(-2px) translateY(-300px);
    }
    
    60%{
      transform:  rotateX(0deg) rotateZ(0deg) translateZ(-2px) translateY(-400px);
    
    }
    70%{
      transform:  rotateX(0deg) rotateZ(-75deg) translateZ(-2px) translateY(-2000px);
    
    }
    80%{
      transform:  rotateX(0deg) rotateZ(-135deg)  translateZ(-2px) translateY(-5000px);
    }
    100%{
      transform:  rotateX(0deg) rotateZ(-135deg) translateZ(-2px) translateY(-5000px);
    }
    }
    
    @media (max-width: 500px) {
      @keyframes successAnime {
       0%{
      transform: perspective(5000px) rotateX(0deg) rotateZ(0deg) scale3d(1,1,1);
    }
    20%{
      transform: perspective(5000px) rotateX(80deg) rotateZ(00deg) scale3d(.8,.8,.8);
    }
    80%{
      transform: perspective(5000px) rotateX(80deg) rotateZ(00deg) scale3d(.8,.8,.8);
    }
    100%{
      transform: perspective(5000px) rotateX(0deg) rotateZ(0deg) scale3d(1,1,1);
    }
    }
      
      
    }
    
    .super-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    
    .container {
      --gradient-angle: 0deg;
      border-radius: 20px;
      border: 1px solid var(--primary-blue);
      position: relative;
      background-color: var(--secondary-dark);
      padding-top: 50px;
      padding-bottom: 50px;
      box-shadow: 0 0 20px var(--secondary-dark);
      width: 60vw;
      transition: 0.15s all;
      transform-style: preserve-3d;
      transform: perspective(5000px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
    
      &.sent {
        animation: successAnime 4s linear forwards;
        @media only screen and (max-width: 500px) {
          animation: successAnime 4s linear forwards;
        }
      }
    
      &.sent .hidden,
      &.sent .hidden:after {
        animation: show 4s linear forwards;
      }
    
      & .mail {
        background: linear-gradient(
          to bottom,
          var(--primary-light-blue),
          var(--primary-blue)
        );
        position: absolute;
        inset: 0;
        font-size: 30px;
        color: black;
        border-radius: inherit;
        transform: rotateX(0deg) rotateZ(0deg) translateZ(-5px) translateY(0);
      }
      & .mail:after,
      & .mail:before {
        content: '';
        position: absolute;
        border-top: 20px solid var(--primary-blue);
        border-radius: 10px;
        width: 57%;
        top: 5%;
        @media only screen and (max-width: 500px) {
          width: 59%;
    }
      }
      & .mail:before {
        left: 5%;
        transform-origin: top left;
        transform: rotate(35deg);
      }
      & .mail:after {
        right: 5%;
        transform-origin: top right;
        transform: rotate(-35deg);
      }
      &.sent .mail {
        animation: mailOut 4s linear;
      }
    
      & .hidden {
        position: absolute;
        right: 0;
        font-size: 30px;
        color: black;
        font-weight: bolder;
        white-space: nowrap;
        transform: rotateX(270deg) rotateY(90deg) translateZ(15rem) translateY(0)
          translateX(-7.5rem);
        opacity: 0;
        @media screen and (max-width: 500px) {
          font-size: 25px;
          bottom: 0;
          left: 50%;
          right: unset;
          transform: rotateX(-90deg) translateZ(5rem) translateY(0) translateX(-50%);
        }
      }
      & .hidden:after {
        content: 'Sent ✅';
        position: absolute;
        left: 50%;
        top: -150%;
        font-size: 30px;
        color: white;
        opacity: 0;
        transform: translateX(-50%);
         @media screen and (max-width: 500px) {
          font-size: 25px;
        }
      }
    
      &:before,
      &:after {
        content: '';
        border-radius: inherit;
        position: absolute;
        inset: -0.7rem;
        background: conic-gradient(
          from var(--gradient-angle),
          #865dff,
          #e384ff,
          #fff,
          #865dff,
          #e384ff,
          #fff,
          #865dff
        );
        animation: rotate 3s linear infinite;
      }
      &:after {
        transform: rotateX(0deg) rotateZ(0deg) translateZ(-50px) translateY(0);
      }
      &:before {
        transform: translateZ(-49px);
        filter: blur(15px);
      }
       @media screen and (max-width: 500px) {
        border-radius: 0;
        box-shadow: none;
        width: 100vw;
        border: none;
        border-top: 1px solid var(--primary-blue);
        transform: none;
    
        &:before,
        &:after {
          inset: 0;
          top: -0.2rem;
          bottom: -0.2rem;
        }
        &:before {
          filter: blur(10px);
        }
      }
    }
    
    .top-heading {
       & h1 {
        font-weight: 500;
        // font-size: 1.2rem;
         text-align: center;
      }
        @media screen and (max-width: 500px) {
          font-weight: 900;
          font-size: 1rem;
          padding: 0 2rem 1rem;
        }
    }
    
    .button-container {
       display: flex;
      justify-content: space-between;
      & button {
        min-width: max-content;
        cursor: pointer;
      }
    
      & button:disabled {
        cursor: not-allowed;
      }
      &:first-child {
        margin-right: 1rem;
      }
    }
    
    .block {
      display: flex;
      width: 100%;
      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }
    
    .contact-form {
       padding: 0 5rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      overflow: hidden;
      & label {
        font-size: 0.7rem;
        font-weight: 400;
        margin-bottom: 10px;
        color: var(--primary-light-blue);
      }
      & input:-webkit-autofill,
      & input:-webkit-autofill:hover,
      & input:-webkit-autofill:focus,
      & input:-webkit-autofill:active {
        -webkit-transition-delay: 9999s;
        transition-delay: 9999s;
      }
      & input {
        border-radius: 5px;
        color: white;
        width: 100%;
        outline: none;
        border: none;
        border: 1px solid var(--primary-blue);
        padding: 5px 10px;
        background: transparent;
        position: relative;
        font-family: var(--primary-font-family);
        font-size: 15px;
        font-weight: 100;
      }
      & textarea {
        border-radius: 5px;
        color: white;
        width: 100%;
        outline: none;
        border: none;
        border: 1px solid var(--primary-blue);
        padding: 10px 10px;
        background: transparent;
        position: relative;
        font-family: var(--primary-font-family);
        font-size: 15px;
        font-weight: 100;
        resize: none;
        min-height: 90px;
    
        ::selection {
          color: white;
          background: var(--primary-blue);
        }
      }
      & button {
        border-radius: 5px;
        font-weight: 900;
        font-size: 0.8em;
        font-family: var(--primary-font-family);
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
        width: 150px;
        color: white;
        border: none;
        outline: none;
        background: var(--primary-blue);
      }
      & button:hover {
        opacity: 0.7;
      }
      & button:active {
        transform: scale(0.95);
      }
       @media screen and (max-width: 500px) {
        & button {
          font-weight: 400;
          font-size: 0.8em;
          width: max-content;
          padding: 0.5rem 1rem;
        }
      }
      @media screen and (max-width: 500px) {
        padding: 0 2rem;
    
        & label {
          font-size: 0.9rem;
          font-weight: 900;
        }
        & input {
          font-size: 15px;
        }
        & textarea {
          font-weight: 400;
        }
        & button {
          font-weight: 400;
          font-size: 0.8em;
          width: max-content;
          padding: 0.5rem 1rem;
        }
      }
    }
    
    .field {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0 0 0;
      &:first-child {
        padding-right: 1rem;
        @media screen and (max-width: 500px) {
          padding-right: 0;
        }
      }
    }
    
    .link {
      position: absolute;
      z-index: 10000;
      bottom: 10px;
      left: 50%;
      translate: -50% 0;
      color: white;
    }
</style>
{% endblock extra_css %}

{% block extra_js %}
<script>
    const card = document.querySelector('.contact')

    function threeD(e) {
      const x = e.clientX
      const y = e.clientY

      const middleX = window.innerWidth / 2
      const middleY = window.innerHeight / 2

      const offsetX = ((x - middleX) / middleX) * 10
      const offsetY = ((y - middleY) / middleY) * 10

      card.style.setProperty('--rotateX', -1 * offsetY + 'deg')
      card.style.setProperty('--rotateY', offsetX + 'deg')
    }

    document.addEventListener('mousemove', threeD)

const sendBtn = document.querySelector('.send')

sendBtn.addEventListener('click', () => {
  document.querySelector('.contact').classList.add('sent')
  const timer = setTimeout(() => {
        document.querySelector('.contact').classList.remove('sent')
        document.querySelector('.contact-form').classList.remove('sent')
      }, 4000)
})


</script>
{% endblock extra_js %}
